{% extends "utils/base.html" %} {% block start %}
<div class="container mt-5 pt-5 pb-5 center">
  <div class="col-md-6 mx-auto card p-5 shadow" style="border: none">
   
    <form class="" method="POST">
        {% include "utils/alerts.html"%}
        {% csrf_token %}
      
      
      
    <div class="mb-3">
        <label for="exampleInputPassword1">OTP</label>
        <input
          type="text"
          name="otp"
          class="form-control"
          id="exampleInputPassword1"
        />
    </div>
      
    <button type="submit" class="btn btn-primary">Submit</button>
    
    
</form>
 
</div>
</div>

  {% comment %} <script>

    function sendOtp(){
      var email = document.getElementById("email").value
      if(email == ""){
        alert("Email cannot be blank")
      }
      else {
        window.location.href = "/accounts/sent_otp/${email}/"
      }
    
  }
  </script> {% endcomment %}

{% endblock %}
